<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.andrewbell.deploytest</string>

    <key>ProgramArguments</key>
    <array>
        <string>/bin/sh</string>
        <string>~/src/andyriffic/cnb-next/auto/test-schedule.sh</string>
    </array>

    <key>StartCalendarInterval</key>
    <dict>
        <key>Weekday</key>
        <integer>7</integer> <!-- 2 for Monday, 3 for Tuesday, etc. -->
        <key>Hour</key>
        <integer>16</integer>  <!-- 8 for morning at 8 AM, 14 for afternoon at 2 PM -->
        <key>Minute</key>
        <integer>0</integer>
    </dict>

    <key>RunAtLoad</key>
    <true/>

    <key>StandardOutPath</key>
    <string>/tmp/deploy-test.stdout</string>

    <key>StandardErrorPath</key>
    <string>/tmp/deploy-test.err</string>


    <key>EnvironmentVariables</key>
    <dict>
        <key>PATH</key>
        <string>/bin:/usr/bin:/usr/local/bin</string>
    </dict>
</dict>
</plist>
